* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #009688;
}
body {
  background-color: #888;
}
.container {
  width: 1100px;
  height: 350px;
  background-color: white;
  margin: 50px auto;
  padding: 40px 20px;
}
.container h3 {
  padding: 10px 20px;
  display: inline-block;
  color: white;
  position: relative;
  background-color: #009688;
  font-size: 25px;
  font-weight: 500;
  left: -30px;
  font-family: Arial, Helvetica, sans-serif;
}
.container h3::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 5px solid;
  border-color: #02675d #02675d transparent transparent;
  top: 48px;
  left: 0px;
}
.contain {
  display: block;
  position: relative;
  margin: 40px 20px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input:checked {
  text-decoration: line-through;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #009688;
}

/* When the checkbox is checked, add line through to label */
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
