* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

:root {
  --section-font: 24px;
}
/* commrnt for Github */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(233, 47%, 7%);
  padding: 50px;
  font-size: 21px;
}

.main {
  margin: 40px auto;
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .main {
    margin: 40px auto;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 1.5;
  }
}

a {
  font-size: larger;
  padding: 20px;
  display: flex;
  margin: 0px auto;
  width: 348px;
}

.left-side {
  padding: 10%;
  width: 100%;
  background-color: hsl(244, 38%, 16%);
}
@media (max-width: 500px) {
  .right-side-Back {
    order: 1;
    height: 280px;
  }
}
.right-side-Back {
  width: 100%;
  background: linear-gradient(
      to right,
      hsla(277, 64%, 61%, 0.5),
      hsla(276, 64%, 61%, 0.5)
    ),
    url(https://i.imgur.com/39sR98w.jpg) no-repeat center;
  background-size: 100%;
}
@media (max-width: 500px) {
  .left-side {
    order: 2;
  }
}

h1 {
  color: hsl(0, 0%, 100%);
}
@media (max-width: 500px) {
  h1 {
    font-size: var(--section-font);
    text-align: center;
  }
}

h1 span {
  color: blueviolet;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
}

@media (max-width: 500px) {
  p {
    font-size: 18px;
    text-align: center;
  }
}

.child {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: hsla(0, 0%, 100%, 0.6);
}

@media (max-width: 500px) {
  .child {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.child div {
  display: grid;
  text-transform: uppercase;
  font-size: 15px;
}

@media (max-width: 500px) {
  .child div {
    text-align: center;
    font-size: 18px;
  }
}

.child div span {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .child div span {
    text-align: center;
    font-size: 23px;
    font-family: cursive;
  }
}

/*
  - MOBILE DESIGN
*/
